body {
    background-color: #EFE9E1;
    font-family: "Nanum Gothic", sans-serif;
}

.navbar {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#segunda {
    background-color: #c6741f;
    padding-top: 10px;
}

#terceira {
    background-color: #EFE9E1;
    color: #333;
}

#quarta {
    background-color: #333;
    color: #ffffff;
}
footer a {
    text-decoration: none;
}