.container {
    display: flex; /* Alinha os elementos em linha */
}
.containerCriacao {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    padding: 1.25rem;
    gap: 1.25rem;
    width: 100%;
    max-width: 1200px;
}
.grid {
    display: flex; 
    flex-wrap: wrap;
    height: max-content;
    gap: 10px; /* Espaçamento entre os itens da grid */
    padding: 5px; /* Reduzido para 5px */
    margin: 0; /* Remove margens indesejadas */
    justify-content: center;
}

.card {
    padding: 10px; /* Reduzido para 10px */
    text-align: center;
}

/* Media query para telas menores */
@media (max-width: 768px) {
    .grid {
        padding: 1px; /* Reduzido para 1px */
        margin-left: 0;
    }
    .card {
        flex: 0 0 150px; /* Cada card ocupa 150px de largura em telas menores */
        
    }
}

@media (max-width: 480px) {
    .containerCriacao {
        flex-direction: row;
        width: auto;
    }
    .grid {
        flex: 1;
        flex-direction: column;
        width: 100%; 
    }
    .card {
        flex: 0 0 80px; 
        margin: 5px; 
    }
}