.container-dashboard {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
.button-logout {
    margin-left: auto;
}

.grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  