.container {
    display: flex;
}
/* FAQ.css */
.faq {
  max-width: 600px;
  margin: 4rem auto;
  padding: 1rem;
  font-family: Arial, sans-serif;
}

.faq h1 {
  text-align: center;
  margin-bottom: 3rem;
}

.item {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ddd;
  padding-bottom: 0.5rem;
}

.questoes {
  font-size: 1.4rem;
  font-weight: bold;
  cursor: pointer;
  color: var(--laranja);
}

.questoes:hover {
  text-decoration: underline;
}

.respostas {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #000;
}
