body {
    font-family: "Nanum Gothic", sans-serif;
}

.text-white{
    font-size: 60px;
    width: 24rem;
}

#segunda {
    background-color: #c6741f;
    padding-top: 10px;
}

#terceira {
    background-color: #EFE9E1;
    color: #333;
}

#quarta {
    background-color: #333;
    color: #ffffff;
}
footer a {
    text-decoration: none;
}
