/* Header.module.css */

/* Container do header */
.containerHeader {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding: 0 20px;
    position: relative;
}

/* Estilo do background antes do scroll */
.navbarBackground {
    background-color: #fcaa2e4d;
    height: 85px;
    transition: background-color 0.3s ease, height 0.3s ease;
}

/* Estilo do background após o scroll */
.navbarScrolled {
    background-color: rgba(0, 0, 0, 0.8);
    height: 70px;
    transition: background-color 0.3s ease, height 0.3s ease;
}

/* Estilos adicionais */
.subTitle {
    font-size: 19px;
    margin: 0;
}

.navbarCustom {
    height: 60px; 
}

nav {
    font-size: 20px;
}

/* Novo estilo para o toggler */
.navbarToggler {
    position: fixed !important;
    right: 20px;
    z-index: 1000;
}

/* Estilo para o menu collapse */


/* Media query para desktop */
@media (min-width: 992px) {
    .navbarToggler {
        display: none;
    }

    .navCollapse {
        position: static;
        background-color: transparent;
        width: auto;
        padding: 0;
    }
}