input:focus + .floatingLabel,
input.hasValue + .floatingLabel {
    top: -0.8rem;
    font-size: 1rem;
    color: #FCA311;
}
.floatingLabel {
    position: absolute;
    left: 0.75rem;
    top: 0.875rem;
    font-size: 1rem;
    color: #999;
    transition: 0.2s ease all;
    pointer-events: none;
}
input[type="text"] {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.5rem;
    border: 0.0625rem  solid #ddd;
    border-radius: 0.25rem;
    font-size: 1rem;
    z-index: 1;
}
.inputContainer {
    position: relative;
    margin-bottom: 1rem;
}
.tituloModal {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    margin-bottom: 1rem;
    font-weight: 700;
}
.containerModalConvidado {
    width: 50rem;
    height: 100rem;
    max-height: 50vh;
}

.inputContainerRow {
    display: flex;
    gap: 1rem;
    padding-left: .5rem;
}
.inputContainerRow .inputContainer {
    flex: 1;
}
.containerTabela {
    max-height: 18rem;
    overflow-y: auto;
    overflow-x: hidden;
    padding: .5rem;
}
.containerConvidados{
    font-size: 1.25rem;
    border-radius: 10px;
    border-collapse: collapse;
}
.containerConvidados th, tr, td {
    border: .6px solid rgba(0,0,0,.2);
    padding: .5rem;
    padding-right: 3rem;
}
.containerTabela::-webkit-scrollbar {
    width: 8px;
}

.containerTabela::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.containerTabela::-webkit-scrollbar-thumb:hover {
    background: #555;
}
.botoesMeio {
    padding: .5rem;
}

.botaoContainerRow {
    display: flex;
    
}                                                                                                   
.botoesAlterarExcluir {
    display: flex;
    border: none;
    padding: .1rem;
}